@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    body {
        padding-left: 0;
    }
    .header {
        left: -120%;
    }
    .header.active {
        left: 0;
    }
    #menu-btn {
        display: initial;
    }
    .about {
        width: 100%;
    }
    .about .row {
        width: 100%;
    }
    .about .row .box-container {
        margin-top: 3rem;
    }
    
    .services .row .service-box-container {
        margin-top: 2rem;
    }
    .services .row .service-box-container .service-box {
        flex: 1 1 70rem;
    }
    .contact .row .contact-address {
        flex: 1 1 70rem;
    }
    .contact .row .contact-message {
        flex: 1 1 70rem;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    .header {
        width: 100%;
    }
    .about p {
        text-align: center;
    }
    .about .row .content h3 {
        text-align: center;
    }
    
}
